fastapi[all]
sqlalchemy==2.0.44
pydantic==2.12.4 # Validation  
pydantic-settings==2.12.0 # Configuration Settings
psycopg2-binary==2.9.11
alembic==1.17.2
supabase==2.24.0
httpx==0.28.1
openai==2.8.1 # LLM
PyPDF2==3.0.1 # PDF to Text
langchain==1.1.0 # Langchain framework
langchain-openai==1.1.0 # Langchain Open AI interface
langchain-qdrant==1.1.0 # Langchain with Qdrant vector DB
pypdf==6.4.0 # PDF to Text
pytest==8.0.2
pytest-asyncio==0.23.5
pandas==2.3.3 # For data analysis